@{
    Layout = null;
}
<div class="modal fade" id="popup-form-du-an" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới dự án/cơ sở</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <div class="row g-3" id="FormDuAn">
                    <div class="col-6">
                        <label>Tên dự án/cơ sở<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="hidden" class="form-control" data-name="IdDuAn" value="0">
                            <input type="text" class="form-control" data-name="TenDuAn" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Tên doanh nghiệp<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" required="" data-name="TenDoanhNghiep">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Địa chỉ<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" required="" data-name="DiaChi">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Giấy phép Đăng ký kinh doanh<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" required="" data-name="GiayPhepDKKD">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Tên người đại diện</label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" data-name="TenNguoiDaiDien">
                        </div>
                    </div>

                    <div class="col-6">
                        <label>Tên người phụ trách TNMT</label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" data-name="TenNguoiPhuTrachTNMT">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Khu công nghiệp</label>
                        <div class="ttls-content">
                            <select class="form-control select2 ddKhuCongNghiep" data-name="IdKhuCongNghiep" style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Ghi chú</label>
                        <div class="ttls-content">
                            <input type="text" class="form-control" data-name="GhiChu">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="" data-name="ThuocKhuKinhTe">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Thuộc khu kinh tế</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveDuAn">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnCloseDuAn" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>