@{
    Layout = null;
}
<div class="modal fade" id="popup-form-giay-phep-moi-truong" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới hồ sơ thủ tục môi trường</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="min-height:600px">
                <div class="row g-3" id="FormGiayPhepMoiTruong">
                    <div class="col-6">
                        <label>Số hồ sơ<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="hidden" class="form-control" data-name="IdGiayPhepMoiTruong" value="0">
                            <input type="text" class="form-control" data-name="SoGiayPhep" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Ngày cấp<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="date" class="form-control" required="" data-name="NgayCap">
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Cơ quan cấp<span class="required">*</span></label>
                        <div class="ttls-content">
                            <input type="text" list="coquancap" class="form-control" data-name="CoQuanCap" required />
                            <datalist id="coquancap">
                                <option>Ban quản lý KKT Đông Nam</option>
                                <option>UBND tỉnh Nghệ An</option>
                                <option>Sở tài nguyên môi trường tỉnh Nghệ An</option>
                                <option>Bộ tài nguyên môi trường</option>
                                <option>UBND Thành phố Vinh</option>
                                <option>UBND Thị xã Cửa Lò</option>
                                <option>UBND Thị xã Thái Hoà</option>
                                <option>UBND Huyện Quế Phong</option>
                                <option>UBND Huyện Quỳ Châu</option>
                                <option>UBND Huyện Kỳ Sơn</option>
                                <option>UBND Huyện Tương Dương</option>
                                <option>UBND Huyện Nghĩa Đàn</option>
                                <option>UBND Huyện Quỳ Hợp</option>
                                <option>UBND Huyện Quỳnh Lưu</option>
                                <option>UBND Huyện Con Cuông</option>
                                <option>UBND Huyện Tân Kỳ</option>
                                <option>UBND Huyện Anh Sơn</option>
                                <option>UBND Huyện Diễn Châu</option>
                                <option>UBND Huyện Yên Thành</option>
                                <option>UBND Huyện Đô Lương</option>
                                <option>UBND Huyện Thanh Chương</option>
                                <option>UBND Huyện Nghi Lộc</option>
                                <option>UBND Huyện Nam Đàn</option>
                                <option>UBND Huyện Hưng Nguyên</option>
                                <option>UBND Thị xã Hoàng Mai</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>Loại giấy phép môi trường<span class="required">*</span></label>
                        <div class="ttls-content">
                            <select class="form-control px-0" style="width: 100%;" data-name="TenGiayPhep">
                                <option value="GiayPhepMoiTruong">Giấy phép môi trường</option>
                                <option value="BaoCaoTacDongMoiTruong">Báo cáo tác động môi trường</option>
                                <option value="TaiLieuKhac">Tài liệu khác</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mt-2" id="FormFileGiayPhepMoiTruong">
                    <div class="col-12">
                        <label>Tài liệu</label>
                        <table id="tblFileGiayPhepMoiTruong" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">File tài liệu</th>
                                    <th scope="col">Loại tài liệu</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <input type="file" id="fileGiayPhepMoiTruong" multiple style="display:none">
                                        <button type="button" id="btnSelectFileGiayPhepMoiTruong" class="btn btn-warning">Đính kèm tài liệu</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <table style="display:none">
                    <tbody id="tempFileTable">
                        <tr>
                            <td style="width:10%">
                            </td>
                            <td style="width:20%">
                                <input type="hidden" class="form-control" data-name="IdFileTaiLieu" value="0">
                                <select class="form-control px-0" style="width: 100%;" data-name="LoaiFileTaiLieu">
                                    <option value="GiayPhepMoiTruong">Giấy phép môi trường</option>
                                    <option value="BaoCaoDanhGiaTacDongMoiTruong">Báo cáo đánh giá tác động môi trường</option>
                                    <option value="TaiLieuKhac"> Hồ sơ khác</option>
                                </select>
                            </td>
                            <td style="width:20%">
                                <input type="text" class="form-control px-1" data-name="MoTa" required>
                            </td>
                            <td style="width:5%">
                                <a href="javascript:;" class="tr-remove text-danger"><i class="fas fa-trash-alt" title="Xóa"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSaveDuAn">Lưu</button>
                <button type="button" class="btn btn-danger" id="btnCloseDuAn" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>