@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="pagetitle">
    <h1>Chi tiết dự án</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/DuAn">Dự án</a></li>
            <li class="breadcrumb-item active">Chi tiết dự án</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ThongTinDuAn-tab" data-bs-toggle="tab" data-bs-target="#bordered-ThongTinDuAn" type="button" role="tab" aria-controls="ThongTinDuAn" aria-selected="false" tabindex="-1">Thông tin dự án</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="GiayPhepMoiTruong-tab" data-bs-toggle="tab" data-bs-target="#bordered-GiayPhepMoiTruong" type="button" role="tab" aria-controls="GiayPhepMoiTruong" aria-selected="false" tabindex="-1">Hồ sơ cấp Giấy phép môi trường</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="BaoCaoBaoVeMoiTruong-tab" data-bs-toggle="tab" data-bs-target="#bordered-BaoCaoBaoVeMoiTruong" type="button" role="tab" aria-controls="BaoCaoBaoVeMoiTruong" aria-selected="true">Báo cáo công tác BVMT hàng năm</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="HoSoKiemTraXuPhat-tab" data-bs-toggle="tab" data-bs-target="#bordered-HoSoKiemTraXuPhat" type="button" role="tab" aria-controls="HoSoKiemTraXuPhat" aria-selected="false" tabindex="-1">Hồ sơ thanh, kiểm tra công tác bảo vệ môi trường</button>
            </li>
        </ul>
        <div class="tab-content profile pt-2" id="borderedTabContent">
            <div class="tab-pane profile-overview fade active show" id="bordered-ThongTinDuAn" role="tabpanel" aria-labelledby="ThongTinDuAn-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thông tin dự án/cơ sở</h5>
                                <div id="thong-tin-du-an">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-GiayPhepMoiTruong" role="tabpanel" aria-labelledby="GiayPhepMoiTruong-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Giấy phép môi trường <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateGiayPhepMoiTruong"><i class="fas fa-plus"></i> Tạo mới</button></h5>
                                <div class="accordion" id="accordion-GiayPhepMoiTruong">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-BaoCaoBaoVeMoiTruong" role="tabpanel" aria-labelledby="BaoCaoBaoVeMoiTruong-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Báo cáo bảo vệ môi trường hàng năm <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateBaoCaoBaoVeMoiTruong"><i class="fas fa-plus"></i> Tạo mới</button>
                                </h5>
                                <div class="accordion" id="accordion-BaoCaoBaoVeMoiTruong">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-HoSoKiemTraXuPhat" role="tabpanel" aria-labelledby="HoSoKiemTraXuPhat-tab">
                Chức năng đang bổ sung
            </div>
        </div><!-- End Bordered Tabs -->

    </div>
</div>

@await Html.PartialAsync("_PopupFormGiayPhepMoiTruong.cshtml")
@await Html.PartialAsync("_PopupFormBaoCaoBaoVeMoiTruong.cshtml")
@section Scripts{
<script src="~/js/controller/DuAnChiTietControl.js"></script>
<script src="~/js/controller/GiayPhepMoiTruongControl.js"></script>
<script src="~/js/controller/BaoCaoBaoVeMoiTruongControl.js"></script>
}