@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="pagetitle">
    <h1>Chi tiết khu công nghiệp</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/KhuCongNghiep">Khu công nghiệp</a></li>
            <li class="breadcrumb-item active">Chi tiết khu công nghiệp</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ThongTinKCN-tab" data-bs-toggle="tab" data-bs-target="#bordered-ThongTinKCN" type="button" role="tab" aria-controls="ThongTinKCN" aria-selected="true">Thông tin Khu công nghiệp</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="GiayPhepMoiTruong-tab" data-bs-toggle="tab" data-bs-target="#bordered-GiayPhepMoiTruong" type="button" role="tab" aria-controls="GiayPhepMoiTruong" aria-selected="false" tabindex="-1">Hồ sơ cấp Giấy phép môi trường</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="BaoCaoBaoVeMoiTruong-tab" data-bs-toggle="tab" data-bs-target="#bordered-BaoCaoBaoVeMoiTruong" type="button" role="tab" aria-controls="BaoCaoBaoVeMoiTruong" aria-selected="true">Báo cáo công tác BVMT khu công nghiệp</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="BaoCaoQuanTracMoiTruong-tab" data-bs-toggle="tab" data-bs-target="#bordered-BaoCaoQuanTracMoiTruong" type="button" role="tab" aria-controls="BaoCaoQuanTracMoiTruong" aria-selected="false">Báo cáo quan trắc môi trường</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="HoSoKiemTraXuPhat-tab" data-bs-toggle="tab" data-bs-target="#bordered-HoSoKiemTraXuPhat" type="button" role="tab" aria-controls="HoSoKiemTraXuPhat" aria-selected="false" tabindex="-1">Hồ sơ thanh, kiểm tra công tác BVMT</button>
            </li>
        </ul>
        <div class="tab-content profile pt-2" id="borderedTabContent">
            <div class="tab-pane profile-overview fade active show" id="bordered-ThongTinKCN" role="tabpanel" aria-labelledby="ThongTinKCN-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Thông tin khu công nghiệp</h5>
                                <div id="thong-tin-kcn">
                                </div>
                                <table class="table table-bordered table-hover table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">STT</th>
                                            <th>Tên dự án</th>
                                            <th>Tên chủ đầu tư</th>
                                            <th>Địa chỉ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="danh-sach-du-an">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-BaoCaoBaoVeMoiTruong" role="tabpanel" aria-labelledby="BaoCaoBaoVeMoiTruong-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Báo cáo bảo vệ môi trường khu công nghiệp <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateBaoCaoBaoVeMoiTruong"><i class="fas fa-plus"></i> Tạo mới</button>
                                </h5>
                                <div class="accordion" id="accordion-BaoCaoBaoVeMoiTruong">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="bordered-BaoCaoQuanTracMoiTruong" role="tabpanel" aria-labelledby="BaoCaoQuanTracMoiTruong-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Báo cáo quan trắc môi trường khu công nghiệp <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateBaoCaoQuanTracMoiTruong"><i class="fas fa-plus"></i> Tạo mới</button>
                                </h5>
                                <div class="accordion" id="accordion-BaoCaoQuanTracMoiTruong">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-GiayPhepMoiTruong" role="tabpanel" aria-labelledby="GiayPhepMoiTruong-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Giấy phép môi trường <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateGiayPhepMoiTruong"><i class="fas fa-plus"></i> Tạo mới</button></h5>
                                <div class="accordion" id="accordion-GiayPhepMoiTruong">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bordered-HoSoKiemTraXuPhat" role="tabpanel" aria-labelledby="HoSoKiemTraXuPhat-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Hồ sơ thanh kiểm tra, xử phạt vi phạm hành chính lĩnh vực bảo vệ môi trường <button type="button" class="btn btn-success offset-md-3" style="float:right" id="btnCreateHoSoKiemTraXuPhat"><i class="fas fa-plus"></i> Tạo mới</button>
                                </h5>
                                <div class="accordion" id="accordion-HoSoKiemTraXuPhat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Bordered Tabs -->

    </div>
</div>

@await Html.PartialAsync("_PopupFormGiayPhepMoiTruong.cshtml")
@await Html.PartialAsync("_PopupFormBaoCaoBaoVeMoiTruong.cshtml")
@await Html.PartialAsync("_PopupKetQuaBaoCaoBaoVeMoiTruong.cshtml")
@await Html.PartialAsync("_PopupFormBaoCaoQuanTracMoiTruong.cshtml")
@await Html.PartialAsync("_PopupFormHoSoKiemTraXuPhat.cshtml")

@section Scripts{
<script src="~/js/controller/KhuCongNghiepChiTietControl.js"></script>
<script src="~/js/controller/GiayPhepMoiTruongControl.js"></script>
<script src="~/js/controller/BaoCaoBaoVeMoiTruongControl.js"></script>
<script src="~/js/controller/BaoCaoQuanTracMoiTruongControl.js"></script>
<script src="~/js/controller/HoSoKiemTraXuPhatControl.js"></script>
}