@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="pagetitle">
    <h1>Chi tiết thành phần môi trường</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="/DuAn">Thành phần môi trường</a></li>
            <li class="breadcrumb-item active">Chi tiết thành phần môi trường</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card profile">
            <div class="card-body profile-overview">
                <h5 class="card-title ">Thông tin Thành phần môi trường</h5>
                <div class="" id="thong-tin-tpmt">
                </div>
                @*<table class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên điểm quan trắc</th>
                            <th>Tên chỉ số</th>
                            <th>Giá trị</th>
                            <th>Đơn vị tính</th>
                        </tr>
                    </thead>
                    <tbody id="danh-sach-ket-qua-quan-trac">
                    </tbody>
                </table>*@
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card profile">
            <div class="card-body profile-overview">
                <h5 class="card-title ">Dữ liệu quan trắc không khí</h5>
                <div class="" id="thong-tin-tpmt">
                </div>
                <table class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên chỉ tiêu</th>
                            <th>Đơn vị tính</th>
                            <th>K1</th>
                            <th>K2</th>
                            <th>K3</th>
                            <th>K4</th>
                            <th>K5</th>
                            <th>K6</th>
                            <th>K7</th>
                            <th>K8</th>
                            <th>K9</th>

@*                            <th style="background-color: #cfe2ff">K1</th>
                            <th style="background-color: #cfe2ff">K2</th>
                            <th style="background-color: #cfe2ff">K3</th>
                            <th style="background-color: #cfe2ff">K4</th>
                            <th style="background-color: #cfe2ff">K5</th>
                            <th style="background-color: #cfe2ff">K6</th>
                            <th style="background-color: #cfe2ff">K7</th>
                            <th style="background-color: #cfe2ff">K8</th>
                            <th style="background-color: #cfe2ff">K9</th>*@

                        </tr>
                    </thead>
                    <tbody id="du-lieu-quan-trac-khong-khi">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card profile">
            <div class="card-body profile-overview">
                <h5 class="card-title ">Dữ liệu quan trắc nước biển</h5>
                <div class="" id="thong-tin-tpmt">
                </div>
                <table class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên chỉ tiêu</th>
                            <th>Đơn vị tính</th>
                            <th>B1</th>
                            <th>B2</th>
                            <th>B3</th>
                        </tr>
                    </thead>
                    <tbody id="du-lieu-quan-trac-nuoc-bien">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card profile">
            <div class="card-body profile-overview">
                <h5 class="card-title ">Dữ liệu quan trắc nước mặt</h5>
                <div class="" id="thong-tin-tpmt">
                </div>
                <table class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên chỉ tiêu</th>
                            <th>Đơn vị tính</th>
                            <th>M1</th>
                            <th>M2</th>
                            <th>M3</th>
                            <th>M4</th>
                            <th>M5</th>
                            <th>M6</th>
                            <th>M7</th>
                        </tr>
                    </thead>
                    <tbody id="du-lieu-quan-trac-nuoc-mat">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card profile">
            <div class="card-body profile-overview">
                <h5 class="card-title ">Dữ liệu quan trắc nước ngầm</h5>
                <div class="" id="thong-tin-tpmt">
                </div>
                <table class="table table-bordered table-hover table-striped" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">STT</th>
                            <th>Tên chỉ tiêu</th>
                            <th>Đơn vị tính</th>
                            <th>N1</th>
                            <th>N2</th>
                        </tr>
                    </thead>
                    <tbody id="du-lieu-quan-trac-nuoc-ngam">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/controller/ThanhPhanMoiTruongChiTietControl.js"></script>
}